:root {
  // Colors
  --primary-color: #92a3fd;
  --primary-color-2: #9dceff;
  --secondary-color: #c58bf2;
  --secondary-color-2: #eea4ce;
  --black: #1d1617;
  --white: #ffffff;
  --gray-1: #7b6f72;
  --gray-2: #ada4a5;
  --gray-3: #dddada;
  --success: #42d742;
  --warning: #ffd600;
  --danger: #ff0000;

  // Icons
  --icon-color: var(--black);

  // Typography
  --heading-primary-weight: 600;
  --heading-primary-height: 1.4;
  --heading-primary-font-size: 26px;
  --heading-primary-color: var(--black);

  --heading-secondary-weight: 500;
  --heading-secondary-height: 1.2;
  --heading-secondary-font-size: 22px;
  --heading-secondary-color: var(--black);

  --body-weight: 400;
  --body-height: 1.5;
  --body-font-size: 16px;
  --body-color: var(--gray-1);

  --caption-weight: 400;
  --caption-height: 1.3;
  --caption-font-size: 14px;
  --caption-color: var(--gray-2);
}
