.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #70adc0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .spacer {
    flex: 1 1 auto;
  }
}
