<div class="login-container">
  <div class="title-container">
    <span class="typography-heading-primary">Login</span>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="email"
        placeholder="Email"
        type="email" />
      <mat-error *ngIf="email?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="email?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="password"
        placeholder="Password"
        type="password" />
      <mat-error *ngIf="password?.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="password?.hasError('minlength')"
        >Password must be at least 6 characters long</mat-error
      >
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-raised-button color="warn" (click)="loginWithGoogle()">
        Login with Google
      </button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
