<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="phoneNumberFormGroup">
    <form [formGroup]="phoneNumberFormGroup" label="Fill out phone number">
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          placeholder="+972501234567"
          formControlName="phoneNumber"
          required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="otpFormGroup" label="Fill out OTP number">
    <form [formGroup]="otpFormGroup">
      <mat-form-field>
        <mat-label>OTP</mat-label>
        <input matInput placeholder="123456" formControlName="otp" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="done">
    <div>
      <span class="typography-heading-secondary">
        You moved to admin panel
      </span>
    </div>
  </mat-step>
</mat-stepper>
