<div class="login-container">
  <div class="title-container">
    <span class="typography-heading-primary">
      {{ 'login.title' | translate }}
    </span>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="fields-container">
      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="email"
          [placeholder]="'login.email.placeholder' | translate"
          type="email"
          color="naked" />
        <mat-error *ngIf="email?.hasError('required')">
          {{ 'login.email.required' | translate }}
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
          {{ 'login.email.invalid' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="password"
          [placeholder]="'login.password.placeholder' | translate"
          type="password" />
        <mat-error *ngIf="password?.hasError('required')">
          {{ 'login.password.required' | translate }}
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength')">
          {{ 'login.password.min_length' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="actions-container">
      <button mat-raised-button color="primary" type="submit">
        {{ 'login.actions.login' | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="loginWithGoogle()">
        {{ 'login.actions.login_with_google' | translate }}
      </button>
      <a mat-button href="/register">
        {{ 'login.actions.go_to_register' | translate }}
      </a>
    </div>
  </form>
</div>
