<div class="workout-page-container">
  <span class="workout-title typography-heading-m">{{ title }}</span>
  <span class="workout-description typography-body">{{ desc }}</span>
  <div class="workout-details">
    <app-workout-detail icon="star">
      {{ 'workout.difficulty.' + difficulty | translate }}
    </app-workout-detail>
    <app-workout-detail icon="schedule"> 30 minutes </app-workout-detail>
    <app-workout-detail icon="calendar_today">
      {{ date | date }}
    </app-workout-detail>
    <app-workout-detail icon="group">
      {{ currentMembers }} / {{ totalMembers }}
    </app-workout-detail>
    <app-workout-detail icon="location_on">
      <a href="google.com">Location</a>
    </app-workout-detail>
  </div>
  <div class="actions-container">
    <button mat-button>Join Now!</button>
  </div>
</div>
