<div class="workout-page-container">
  <span class="workout-title typography-heading-primary">{{ title }}</span>
  <span class="workout-description typography-body">
    {{ desc }}
  </span>
  <div class="workout-details">
    <app-workout-detail icon="star">
      {{ 'workout.difficulty.' + difficulty | translate }}
    </app-workout-detail>
    <app-workout-detail icon="calendar">
      {{ duration | timestampToTime }}
    </app-workout-detail>
    <app-workout-detail icon="calendar">
      {{ date | date }}
    </app-workout-detail>
    <app-workout-detail icon="three_user">
      {{ currentMembers }} / {{ totalMembers }}
    </app-workout-detail>
    <app-workout-detail icon="location">
      <a href="google.com">{{ 'workout.location' | translate }}</a>
    </app-workout-detail>
  </div>
  <div class="actions-container">
    <button [disabled]="isFullBooked" mat-button>
      {{ 'workout.join_now' | translate }}
    </button>
  </div>
</div>
