@import 'app/styles/variables';
@import 'app/styles/typography';
@import 'app/styles/normalize';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
