.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding: 24px;

  .card-container {
    background-color: color-mix(in srgb, var(--primary-color), transparent 20%);
    border-radius: 22px;
    border-color: transparent;
    box-shadow: none;
    padding: 4px;

    .header-container {
      display: flex;
      justify-content: space-between;
    }

    .content-container {
      display: flex;
      gap: 8px;

      .detail-container {
        box-shadow: none;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        padding: 8px;
      }

      .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
